server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:day1db;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

# Actuator endpoints if you add starter later
management:
  endpoints:
    web:
      exposure:
        include: health,info,conditions
